@import "../_styles/variables";

.SideBar {
  width: 50%;
  margin-left: 1rem;
  .sb-title {
    font-size: 22px;
    margin: 0;
    margin-top: 0.5rem;
  }
  .sb-user {
    @include border(5px);
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    .sb-location {
      padding-left: 0.5rem;
    }
    .primary-content {
      @include border(5px);
      margin-top: 1rem;
      display: flex;
      width: 93%;
    }
    .primary-details {
      height: 250px;
      padding-left: 0.4rem;
      p {
        margin: 0.5rem 0;
      }
      .highlight {
        @include span($dark-font);
      }
    }
    img {
      height: 250px;
      width: 250px;
    }
  }
  .sb-repos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
    justify-content: center;
  }
  a {
    color: $dark-font;
    &:hover {
      color: rgb(114, 114, 114);
    }
  }
}
