@import "../_styles/variables";

.SideBar {
  // border: 2px solid red;
  // width: 560px;
  width: 50%;
  margin-left: 1rem;
  .sb-user {
    border: 1px solid black;
    background-color: $primary-accent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    .primary-content {
      display: flex;
      // border: 1px solid blue;
    }
    .primary-details {
      height: 250px;
      p {
        margin: 1rem 0.2rem;
      }
      span {
        border-radius: 4px;
        padding: 0.1rem 0.3rem;
        background-color: lightgrey;
      }
    }
    img {
      height: 250px;
      width: 250px;
    }
  }
  .sb-repos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid blue;
    justify-content: center;
  }
}
