.UserCard {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 0.5rem;
  border: 1px solid black;
  box-shadow: 1px 1px 15px 1px lightgrey;
  border-radius: 4px;
  .primary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
  }
  .expanded-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0.2rem;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
      height: 172px;
    }

    li {
      margin: 0.2rem 0;
      vertical-align: top;
      width: 240px;
      font-size: 14px;
    }
    .name {
      color: red;
      font-size: 18px;
    }
    .bio {
      padding: 0.1rem 0.2rem 0 0;
      overflow-y: auto;
      border-top: 1px solid black;
    }
  }
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .user-links {
    align-self: flex-end;
    a {
      margin: 0 1rem 1rem 0;
      color: black;
      &:hover {
        cursor: pointer;
        color: grey;
      }
    }
    i {
      font-size: 22px;
    }
  }
  button {
    background-color: black;
    height: 25px;
    width: 100px;
    color: white;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: darkgrey;
    }
    &:focus {
      outline: none;
      border: 1px solid grey;
    }
  }
}

.hidden {
  transition: 0.2s ease-in-out;
  height: 225px;
  width: 200px;
}
.show {
  transition: 0.5s width ease-in-out;
  height: 225px;
  padding-right: 1rem;
  width: 455px;
  overflow: hidden;
}
